# Development requirements. This is linting tool which is basically a development tool which is not required by the project to run. It is deifferent from the requirements.txt file which contains the dependencies required by the project to run.

flake8>=3.9.2,<3.10